<footer class="d-flex align-items-center justify-content-center">
    <div class="inner-container d-flex">
        <!-- Get in touch -->
        <div class="left">
            <h3 class="text-playfair">Result oriented, I'm willing to be a part of any organization in need of top-level administrative
                and technological support.</h3>
            <h3 class="text-playfair">Get in touch via <a href="mailto:isahohieku@gmail.com" class="btn email">isahohieku@gmail.com</a></h3>
        </div>

        <div class="right flex-grow-1 d-flex flex-column justify-content-center">
            <div class="resume d-flex mx-auto justify-content-center">
                <div class="w-75 py-3">
                    <img src="assets/img/male.svg" class="w-100 d-inline-block mx-auto" alt="Male icon">
    
                    <div class="lines-wrapper mt-2">
                        <span class="d-inline-block"></span>
                        <span class="d-inline-block"></span>
                        <span class="d-inline-block"></span>
                        <span class="d-inline-block"></span>
                    </div>
                </div>
            </div>

            <button class="btn download text-uppercase text-small py-3 mt-5 mx-auto">Resume</button>
        </div>
    </div>
</footer>