footer {
    background-color: #f7f7f7;
    height: 100vh;
    margin-top: 15rem;
}

.inner-container {
    max-width: 120rem;
}

.resume {
    background-color: #e4e4e4;
    width: 160px;
}

.drop-shadow {
    filter: drop-shadow(0px 10px 4px rgba(28, 28, 28, 0.2));
}

.lines-wrapper {
    span {
        border-bottom: 1px solid #1c1c1c;
        margin-top: 0.2rem;
        width: 100%;

        &:last-child {
            width: 50% !important;
        }
    }
}

.download {
    border: 1px solid #6d6d6d;
    color: #6d6d6d;
    border-radius: 0px;
    width: 160px;

    &:hover {
        background-color: #6d6d6d;
        color: #f7f7f7;
    }
}

h3,
.email {
    font-size: 3rem;
    color: #666666;
}

.email {
    color: #6d6d6d;
    padding: 0;
    vertical-align: top;
    border: 0;
    line-height: 1.2;
}

.left {
    width: 60%;
}

nav {
    a {
        font-size: 4rem;
        margin-right: 20px;
        color: #6d6d6d;
    }
}
