<div class="wrapper position-relative mousePointer">
    <!-- Background -->
    <div class="bg h-100 position-absolute" [ngStyle]="{'backgroundColor': project?.bgColor}"></div>
    <!-- Project title -->
    <h3 class="title text-lato font-weight-light text-uppercase position-absolute">{{project?.title}}</h3>
    <!-- Logo -->
    <div class="d-flex justify-content-center align-items-center h-100 logo position-relative">
        <div>
            <img [src]="project?.logo" loading="lazy" alt="logo" height="55" />
        </div>
    </div>
    <!-- Caption -->
    <div class="caption position-absolute px-5">
        <h4 class="font-weight-light text-small text-itallic">{{project?.description}}</h4>

        <a [href]="project?.link" target="_blank" class="btn visit mousePointer text-small py-3 mt-5">Visit</a>
    </div>
</div>