.wrapper {
    max-width: 120rem;
    height: 100vh;
}

h1 {
    font-size: 12rem;
    font-weight: 500;
}

h4 {
    color: #666666;
}

.underlay {
    background-color: #fbd700;
    width: 75%;
    height: 70%;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.underlay2 {
    background-color: #2f2f2f;
    width: 70%;
    height: 80%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.overlay {
    z-index: 1;
}